* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    margin: auto;
    background-color: #E6EAEE;
    color: black;
    font-family: 'Roboto', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    background-color: white;
    width: 100%;
}

#insert {
    height: auto;
    width: auto;
    margin-top: 120px;
    margin-left: 352px;
    margin-right: 10px;
}

.insert-msg {
    width: auto;
    height: auto;
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#text_box {
    border-radius: 7px;
    border-bottom: 0.5px solid;
    border-bottom-color: rgb(29, 161, 242);
    width: 90%;
    height: 19px;
    background-color: #E6EAEE;
    color: #7D8292;
    font-size: 15px;
    overflow: hidden;
    resize: none;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.button {
    border: none;
    background-color: #5C91F1;
    border-radius: 25px;
    width: auto;
    height: auto;
    color: #ffffff;
    font-size: 20px;
    padding: 2%;
}

.button:disabled {
    color: #ffffff;
    background-color: #ADC8F8;
}

.counter {
    color: black;
}

.counter-color-blue {
    color: blue;
}

.counter-color-red {
    color: red;
}

aside div {
    padding: 10px;
    margin-top: 120px;
    width: 360px;
    height: 330px;
    background-color: #ffffff;
}

.division {
    background-color: #ffffff;
    border-bottom: 0.3px solid #e0dcdc;
}

.text-boxes {
    color: black;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}

#publish {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    width: 700px;
    margin-top: 10px;
    background-color: #ffffff;
    color: black;
    padding: 20px;
}

#publish div {
    display: block;
    border-top: 0.3px solid #7D8292;
    border-bottom: 0.3px solid #7D8292;
    padding: 20px;
    margin: 20px;
}

#publish p {
    word-break: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
}