body {
    background-color: #E6EAEE;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    background-color: white;
    width: 100%;
}

#insert {
    position: relative;
    height: auto;
    width: 700px;
    margin-top: 120px;
    margin-left: 400px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.insert-msg {
    position: absolute;
    width: 600px;
    height: auto;
    padding: 10px;
    background-color: #ffffff;
    border-top: solid #7D8292;
    border-bottom: solid #7D8292;
}

#text_box {
    border: transparent;
    border-radius: 10px;
    width: 522px;
    background-color: #E6EAEE;
    color: #7D8292;
    font-size: 15px;
    border-bottom-color: rgb(29, 161, 242);
    overflow: hidden;
    resize: none;
}

.button {
    border: none;
    background-color: #5C91F1;
    border-radius: 10px;
    width: auto;
    height: auto;
    color: #ffffff;
}

.button:disabled {
    border-radius: 10px;
    border: transparent;
    width: auto;
    height: auto;
    color: #ffffff;
    background-color: pink;
}

.counter {
    color: black;
}

.counter-color-blue {
    color: blue;
}

.counter-color-red {
    color: red;
}

#publish {
    height: 300px;
    width: 700px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: black;
}

#publish div {
    display: block;
    border-top: solid #7D8292;
    border-bottom: solid #7D8292;
}